@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
  }
a {
  color: #333;
}

.modal {
  height: 20vh;
  width: 50vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  height: 200px;
  width: 400px;
}

.todo_content{
  display: flexbox;
}

.sort_list{
  width: 100vw;
  justify-content: center;
  display:flex;
}

.todo{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}